body{
background-image: url(https://img.vixdata.io/pd/webp-large/es/sites/default/files/btg/tech.batanga.com/files/Encriptar-archivos-que-es-y-como-funciona-3.jpg);
  background-size: cover;  /*se ajusta al tamaño de la pantalla*/

}

.intro{
  padding: 100px;
  margin: 200px;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  color: white;
  font-family: "Times New Roman", Times, serif;
  width: 50%;
}

.inicio{
  background-color: Transparent;
  border:4px solid #d90d00;
  color: #d90d00;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}


.codificar{
  background-color: #e80a0a;
  border: none;
  color: #f9fff5;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }

 .decodificar{
   background-color: #e80a0a;
   border: none;
   color: #f9fff5;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
 }

.especifCodi{
  float: left;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  width: 25%;
}

.especifDecodi{
  float: right;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  width: 25%;


}
